{% extends 'mainapp/departments/projects_department.html' %}
{% block table %}
<h2 class="mb-3">{{ request.user.district }}, {{ title }}</h2>
<div class="container overflow-auto">
    <table class="table table-bordered table-striped">
        <caption>{{ request.user.district }}, Илова 12.2</caption>
        <tr>
<!--            <th class="table-info" rowspan="3">Район</th>-->
            <th class="table-info" rowspan="3">Сформированные советы</th>
            <th class="table-primary" colspan="8">в процессе</th>
            <th class="table-primary" colspan="3">Финансирование</th>
            <th class="table-info table-info-time" rowspan="3">Time create</th>
        </tr>
        <tr>
            <th class="table-primary" rowspan="2">Проекты</th>
            <th class="table-primary" rowspan="2">Производсвенные мощности</th>
            <th class="table-primary" rowspan="2">Оценка</th>
            <th class="table-primary" colspan="3">Из них</th>
            <th class="table-primary" rowspan="2">Уровнь работы</th>
            <th class="table-primary" rowspan="2">Обьем экспорта</th>
            <th class="table-primary" rowspan="2">Название банка</th>
            <th class="table-primary" colspan="2">Иностранные</th>
        </tr>
        <tr>
            <td class="table-info">Собственные средства</td>
            <td class="table-info">Банковский кредит</td>
            <td class="table-info">Иностранные инвестиции</td>
            <td class="table-info">название страны</td>
            <td class="table-info">название организации</td>
        </tr>
        <tr>
            {% block form %}
            {%endblock%}
        </tr>
        {% for data in page_obj %}
        <tr>
<!--            <td>{{ data.district }}</td>-->
            <td>{{ data.formed_tips }}</td>
            <td>{{ data.projects_at_work }}</td>
            <td>{{ data.production_capacity_at_work }}</td>
            <td>{{ data.grade_at_work }}</td>
            <td>{{ data.own_funds_grade_at_work }}</td>
            <td>{{ data.bank_loan_grade_at_work }}</td>
            <td>{{ data.foreign_investments_grade_at_work }}</td>
            <td>{{ data.workplace_at_work }}</td>
            <td>{{ data.export_volume_at_work }}</td>
            <td>{{ data.name_bank_financing }}</td>
            <td>{{ data.name_country_financing }}</td>
            <td>{{ data.organization_name_foreign_financing }}</td>
            <td class="table-time">{{ data.time_create }}</td>
        </tr>
        {%endfor%}

    </table>
</div>
{% include 'mainapp/pagination.html' %}
{% endblock %}

{% block export_table %}
<a class="btn btn-primary mb-5" href="#">Экспорт таблицы</a>
{%endblock%}


{% block add_data %}
<a class="btn btn-success mb-5" href="{% url 'form_loiha12.2' %}">Добавить данные</a>
{%endblock%}