{% extends 'mainapp/departments/projects_department.html' %}
{% block table %}
<h2 class="mb-3">
    {% if request.user.district != None %}
        {{ request.user.district }},
    {% endif %}
    {{ title }}
</h2>
{% block filter %}
<div class="container mb-3">
    <div class="row">
        <div class="col-1"><a class="btn btn btn-primary w-100"
                              href="{% url 'table_filter_loiha10' filter_slug='week' %}">неделя</a></div>
        <div class="col-1"><a class="btn btn btn-primary w-100"
                              href="{% url 'table_filter_loiha10' filter_slug='month' %}">месяц</a></div>
        <div class="col-1"><a class="btn btn btn-primary w-100" href="{% url 'table_loiha10' %}">все</a></div>
    </div>
</div>
{% endblock %}
<div class="container overflow-auto">
    <table class="table table-bordered table-striped">
        <caption>
            {% if request.user.district != None %}
                {{ request.user.district }},
            {% endif %}
            {{ title }}
        </caption>
        <tr>
            {% for group in request.user.groups.all %}
            {% if group.id == 3 %}
            <th rowspan="2" class="table-info">HUDUDLAR</th>
            {% endif %}
            {% endfor %}
            <th class="table-info" rowspan="2">насленный пункт (количество)</th>
            <th class="table-primary" rowspan="2"> Жилые дома (количество)</th>
            <th class="table-primary" colspan="2"> Из них</th>
            <th class="table-primary" rowspan="2">дома занятые в секторе</th>
            <th class="table-primary" colspan="12">Специализация</th>
            <th class="table-info" rowspan="2">железная тетрадь оставшиеся</th>
            <th class="table-info" rowspan="2">молодёжная тетрадь оставшиеся</th>
            <th class="table-info" rowspan="2">женская тетрадь оставшиеся</th>
            <th class="table-info table-info-time" rowspan="2">Time create</th>
        </tr>
        <tr>
            <th class="table-info">Желающие заняться предпринимательством<br>(количество)</th>
            <th class="table-info">процентное соотношение</th>
            <th class="table-info">животноводство</th>
            <th class="table-info">птицеводство</th>
            <th class="table-info">кроликоведение</th>
            <th class="table-info">пчеловодство</th>
            <th class="table-info">фермерство</th>
            <th class="table-info">садоводство</th>
            <th class="table-info">парники</th>
            <th class="table-info">преподование</th>
            <th class="table-info">мелькое производство</th>
            <th class="table-info">туризм</th>
            <th class="table-info">услуги</th>
            <th class="table-info">другие</th>
        </tr>
        <tr>
            {% block form %}
            {%endblock%}
        </tr>

        {% for data in page_obj %}
        <tr>
            {% for group in request.user.groups.all %}
                {% if group.id == 3 %}
                   <td>{{data.district}}</td>
                {% endif %}
            {% endfor %}
            <td>{{ data.locality_amount }}</td>
            <td>{{ data.residential_buildings_amount }}</td>
            <td>{{ data.who_want_to_do_business_residential_buildings }}</td>
            <td>{{ data.percent_residential_buildings }}</td>
            <td>{{ data.employed_in_the_sector }}</td>
            <td>{{ data.animal_husbandry_speciality }}</td>
            <td>{{ data.poultry_farming_specialty }}</td>
            <td>{{ data.rabbing_breeding_specialty }}</td>
            <td>{{ data.Beekeeping_specialty }}</td>
            <td>{{ data.farm_specialty }}</td>
            <td>{{ data.gardening_specialty }}</td>
            <td>{{ data.greenhouses_specialty }}</td>
            <td>{{ data.teaching_specialty }}</td>
            <td>{{ data.small_production_specialty }}</td>
            <td>{{ data.tourism_specialty }}</td>
            <td>{{ data.services_specialty }}</td>
            <td>{{ data.other_specialty }}</td>
            <td>{{ data.remaining_on_the_iron_notebook }}</td>
            <td>{{ data.remaining_on_the_youth_notebook }}</td>
            <td>{{ data.remaining_on_the_womens_notebook }}</td>
            <td class="table-time">{{ data.time_create }}</td>
        </tr>
        {%endfor%}

    </table>
</div>
{% include 'mainapp/pagination.html' %}
{% endblock %}

{% block export_table %}
<a class="btn btn-primary mb-5" href="#">Экспорт таблицы</a>
{%endblock%}

{% block add_data %}
    {% if not request.user.groups.all and not request.user.is_superuser %}
<a class="btn btn-success mb-5" href="{% url 'form_loiha10' %}">Добавить данные</a>
    {% endif %}
{%endblock%}