{% extends 'mainapp/departments/projects_department.html' %}
{% block table %}
<h2 class="mb-3">
    {% include 'mainapp/data_table/components/table_title.html' %}
</h2>

{% block filter %}
<div class="container mb-3">
    <div class="row">
        <div class="col-1"><a class="btn btn btn-primary w-100"
                              href="{% url 'table_filter_loiha14' filter_slug='week' %}">неделя</a></div>
        <div class="col-1"><a class="btn btn btn-primary w-100"
                              href="{% url 'table_filter_loiha14' filter_slug='month' %}">месяц</a></div>
        <div class="col-1"><a class="btn btn btn-primary w-100" href="{% url 'table_loiha14' %}">все</a></div>
    </div>
</div>
{% endblock %}

<div class="container overflow-auto">
    <table class="table table-bordered table-striped">
        <caption>
            {% include 'mainapp/data_table/components/table_title.html' %}
        </caption>
        <tr>
            {% for group in request.user.groups.all %}
            {% if group.id == 3 %}
            <th rowspan="3" class="table-info">HUDUDLAR</th>
            {% endif %}
            {% endfor %}
            <th class="table-primary" colspan="3">Доступная информация</th>
            <th class="table-primary" colspan="7">Процесс реализации запланированных проектов</th>
            <th class="table-primary" colspan="3">Финансирование</th>
            <td class="table-info table-info-time" rowspan="3">Дата создания записи</td>
        </tr>
        <tr>
            <td class="table-info" rowspan="2">Организация</td>
            <td class="table-info" rowspan="2">Род деятельности</td>
            <td class="table-info" rowspan="2">Имеющиеся рабочие места</td>
            <td class="table-info" rowspan="2">Проектная деятельность</td>
            <td class="table-info" rowspan="2">Оценка (млрд долл)</td>
            <td class="table-info" colspan="3">Из них</td>
            <td class="table-info" rowspan="2">Созданные рабочие места</td>
            <td class="table-info" rowspan="2">Обьем экспорта (млрд долл)</td>
            <td class="table-info" rowspan="2">Название банка</td>
            <td class="table-info" colspan="2">Иностранные</td>
        </tr>
        <tr>
            <td class="table-info">Собственные средства</td>
            <td class="table-info">Банковский кредит</td>
            <td class="table-info">Иностранные инвестиции</td>
            <td class="table-info">Название страны</td>
            <td class="table-info">Название организации</td>
        </tr>
        <tr>
            {% block form %}
            {% endblock %}
        </tr>
        {% for data in page_obj %}
        <tr>
            {% include 'mainapp/data_table/components/district_field.html' %}
            <td>{{data.organization_available_information }}</td>
            <td>{{data.kind_of_activity_available_information }}</td>
            <td>{{data.available_jobs_available_information }}</td>
            <td>{{data.project_activity_at_work }}</td>
            <td>{{data.grade_at_work }}</td>
            <td>{{data.own_funds_grade_at_work }}</td>
            <td>{{data.bank_loan_grade_at_work }}</td>
            <td>{{data.sources_sources_of_financing }}</td>
            <td>{{data.created_new_jobs_at_work }}</td>
            <td>{{data.export_volume_at_work }}</td>
            <td>{{data.name_bank_financing }}</td>
            <td>{{data.name_country_financing }}</td>
            <td>{{data.organization_name_foreign_financing }}</td>
            <td class="table-time">{{data.time_create }}</td>
        </tr>
        {%endfor%}
    </table>
</div>
{% include 'mainapp/pagination.html' %}
{% endblock %}

{% if not 'week' in request.get_full_path and not 'month' in request.get_full_path %}
    {% block export_table %}
        <a class="btn btn-primary mb-5" href="{% url 'export-excel-loiha14' filter_slug='all' %}">Экспорт таблицы excel</a>
    {% endblock %}
{% elif 'week' in request.get_full_path %}
    {% block export_table_week %}
        <a class="btn btn-primary mb-5" href="{% url 'export-excel-loiha14' filter_slug='week' %}">Экспорт таблицы excel</a>
    {% endblock %}
{% elif 'month' in request.get_full_path %}
    {% block export_table_month %}
        <a class="btn btn-primary mb-5" href="{% url 'export-excel-loiha14' filter_slug='month' %}">Экспорт таблицы excel</a>
    {% endblock %}
{% endif %}


{% block add_data %}
{% if not request.user.groups.all and not request.user.is_superuser %}
<a class="btn btn-success mb-5" href="{% url 'form_loiha14' %}">Добавить данные</a>
{% endif %}
{%endblock%}