{% extends 'mainapp/departments/projects_department.html' %}
{% block table %}
<h2 class="mb-3">
    {% include 'mainapp/data_table/components/table_title.html' %}
</h2>
{% block filter %}
<div class="container mb-3">
    <div class="row">
        <div class="col-1"><a class="btn btn btn-primary w-100" href="{% url 'table_filter_loiha12' filter_slug='week' %}">неделя</a></div>
        <div class="col-1"><a class="btn btn btn-primary w-100" href="{% url 'table_filter_loiha12' filter_slug='month' %}">месяц</a></div>
        <div class="col-1"><a class="btn btn btn-primary w-100" href="{% url 'table_loiha12' %}">все</a></div>
    </div>
</div>
{% endblock %}
<div class="container overflow-auto">
    <table class="table table-bordered table-striped">
        <caption>
            {% include 'mainapp/data_table/components/table_title.html' %}
        </caption>
    <tr>
            {% for group in request.user.groups.all %}
            {% if group.id == 3 %}
            <th rowspan="3" class="table-info">HUDUDLAR</th>
            {% endif %}
            {% endfor %}
        <th class="table-info" rowspan="3">Все проекты</th>
        <th class="table-info" rowspan="3">Оценка(млрд долл)</th>
        <th class="table-primary" rowspan="3">Рабочее место</th>
        <th class="table-primary" colspan="9">Из них</th>
        <th class="table-info table-info-time" rowspan="3">Time create</th>
    </tr>
        <tr>
            <th class="table-info" colspan="3">Выбранные проекты</th>
            <th class="table-info" colspan="3">В процессе</th>
            <th class="table-info" colspan="3">Будут завершены к концу года</th>
        </tr>
        <tr>
            <th class="table-info">Проекты</th>
            <th class="table-info">Оценка</th>
            <th class="table-info">Рабочее место</th>
            <th class="table-info">Проекты</th>
            <th class="table-info">Оценка (млрд долл)</th>
            <th class="table-info">Рабочее место</th>
            <th class="table-info">Проекты</th>
            <th class="table-info">Оценка(миллиард долл)</th>
            <th class="table-info">Рабочее место </th>
        </tr>
        <tr>
            {% block form %}
            {%endblock%}
        </tr>
            {% for data in page_obj %}
        <tr>
            {% include 'mainapp/data_table/components/district_field.html' %}
            <td>{{ data.all_projects }}</td>
            <td>{{ data.grade }}</td>
            <td>{{ data.workplace }}</td>
            <td>{{ data.projects_selected_projects_from_all_projects }}</td>
            <td>{{ data.grade_selected_projects_from_all_projects }}</td>
            <td>{{ data.workplace_selected_projects_from_all_projects }}</td>
            <td>{{ data.all_projects_at_work_from_all_projects }}</td>
            <td>{{ data.grade_at_work_from_all_projects }}</td>
            <td>{{ data.workplace_at_work_from_all_projects }}</td>
            <td>{{ data.all_projects_will_be_completed_end_the_year_from_all_projects }}</td>
            <td>{{ data.grade_will_be_completed_end_the_year_all_projects }}</td>
            <td>{{ data.workplace_will_be_completed_end_the_year_all_projects }}</td>
            <td class="table-time">{{ data.time_create }}</td>
        </tr>
            {%endfor%}

    </table>
</div>
{% include 'mainapp/pagination.html' %}
{% endblock %}

{% if not 'week' in request.get_full_path and not 'month' in request.get_full_path %}
    {% block export_table %}
        <a class="btn btn-primary mb-5" href="{% url 'export-excel-loiha12' filter_slug='all' %}">Экспорт таблицы excel</a>
    {% endblock %}
{% elif 'week' in request.get_full_path %}
    {% block export_table_week %}
        <a class="btn btn-primary mb-5" href="{% url 'export-excel-loiha12' filter_slug='week' %}">Экспорт таблицы excel</a>
    {% endblock %}
{% elif 'month' in request.get_full_path %}
    {% block export_table_month %}
        <a class="btn btn-primary mb-5" href="{% url 'export-excel-loiha12' filter_slug='month' %}">Экспорт таблицы excel</a>
    {% endblock %}
{% endif %}

{% block add_data %}
    {% if not request.user.groups.all and not request.user.is_superuser %}
<a class="btn btn-success mb-5" href="{% url 'form_loiha12' %}">Добавить данные</a>
    {% endif %}
{%endblock%}