{% extends 'mainapp/base.html' %}
{{ title }}

<!--{% block content%}-->
<!--    {%for data_table in data_tables %}-->
<!--    <p>Таблица {{data_table}}</p>-->
<!--    {%for dt in data_table %}-->
<!--    <p>{{dt.district}} {{dt.time_create}}</p>-->
<!--    {%endfor%}-->
<!--     <p>Добавить данные в таблицу</p>-->
<!--    <hr>-->
<!--    {%endfor%}-->
<!--&lt;!&ndash;ссылки на страницы данных таблиц и форма из заполнения&ndash;&gt;-->
<!--{%for tb in tables_menu %}-->
<!--<p><a href="{% url tb.url_data_table %}">Просмотреть</a>   {{tb.table_name}}<a href="{% url tb.url_form %}"> Заполнить форму {{tb.table_name}}</a></p>-->
<!--{%endfor%}-->
<!--{% endblock %}-->