{% extends 'mainapp/data_table/fourth_departament/totalDone.html' %}
{% block form %}
<div class="container">
    <form action="{% url 'form_totalDone' %}" method="post">
        {% csrf_token %}
        <div>{{ form.non_field_errors }}</div>
        <tr>
            {% include 'mainapp/forms/components/_form-fields.html' %}
        </tr>
        {% endblock %}
        {% block add_data %}
        {% include 'mainapp/forms/components/_add-info-button.html' %}
        {%endblock%}
    </form>
</div>

{% block export_table %}
{% include 'mainapp/forms/components/_back-button.html' %}
{% endblock %}

{% block view_data%}
{% include 'mainapp/forms/components/_reset-button.html' %}
{% endblock %}

{% block filter%}
{%endblock%}