{% extends 'mainapp/data_table/second_departament/kh.html' %}
{% block form %}
<div class="container">
    <form action="{% url 'form_kx'%}" method="post">
        {% csrf_token %}
        <div>{{ form.non_field_errors }}</div>
        <tr>
            <td>{{ form.inn_of_sender_or_recipient }}</td>
            <td>{{ form.inn }}</td>
            <td>{{ form.name_of_sender }}</td>
            <td>{{ form.address_of_sender }}</td>
            <td>{{ form.name_of_recipient }}</td>
            <td>{{ form.address_of_recipient }}</td>
            <td>{{ form.financial_responsible_inn }}</td>
            <td>{{ form.face_responsible_for_finance }}</td>
            <td>{{ form.address_of_face_responsible_for_finance }}</td>
            <td>{{ form.currency_of_contract }}</td>
            <td>{{ form.invoice_value }}</td>
            <td>{{ form.code_of_goods }}</td>
            <td>{{ form.name_of_goods }}</td>
            <td>{{ form.weight_netto }}</td>
            <td>{{ form.ton }}</td>
            <td>{{ form.stat_price }}</td>
            <td>{{ form.number_and_date_of_contract }}</td>
            <td>{{ form.idn }}</td>
            <td>{{ form.destination_country }}</td>
            <td>{{ form.date_of_issue }}</td>
            <td>{{ now.time_create }}</td>
        </tr>
        {% endblock %}
        {% block add_data %}
        <input class="btn btn-success mb-5" type="submit" value="Добавить данные">
        {%endblock%}
    </form>
</div>

{% block export_table %}
<a class="btn btn-primary mb-5" href="{% url 'table_kx' %}">Назад</a>
{%endblock%}

{% block view_data%}
<input class="btn btn-danger mb-5" type="reset" value="Очистить данные">
{%endblock%}

{% block filter%}
{%endblock%}
