{% extends 'mainapp/data_table/table_loiha41.html' %}

{% block form %}
<div class="container ">
                <form class="form" action="{% url 'form_loiha4.1'%}" method="post">
                {% csrf_token %}
                    <div>{{ form.non_field_errors }}</div>
               <tr>
<!--                <td>{{ user.district}}</td>-->
                <td>{{ form.bill_sum_industry}}</td>
                <td>{{ form.picture_of_growth_industry}}</td>
                <td>{{ form.forecast_industry }}</td>
                <td>{{ form.difference_industry }}</td>
                <td>{{ form.bill_sum_locality }}</td>
                <td>{{ form.picture_of_growth_locality }}</td>
                <td>{{ form.forecast_locality }}</td>
                <td>{{ form.difference_locality }}</td>
                <td>{{ form.bill_sum_construction }}</td>
                <td>{{ form.picture_of_growth_construction }}</td>
                <td>{{ form.forecast_construction }}</td>
                <td>{{ form.difference_construction }}</td>
                <td>{{ form.bill_sum_services }}</td>
                <td>{{ form.picture_of_growth_services }}</td>
                <td>{{ form.forecast_services }}</td>
                <td>{{ form.difference_services }}</td>
                <td>{{ form.bill_sum_retail }}</td>
                <td>{{ form.picture_of_growth_retail }}</td>
                <td>{{ form.forecast_retail }}</td>
                <td>{{ form.difference_retail }}</td>
                <td>{{ form.thousand_dollar_international_trade }}</td>
                <td>{{ form.picture_of_growth_international_trade }}</td>
                <td>{{ form.thousand_dollar_export }}</td>
                <td>{{ form.picture_of_growth_export }}</td>
                <td>{{ form.thousand_dollar_import }}</td>
                <td>{{ form.picture_of_growth_import }}</td>
                <td>{{ now.time_create }}</td>
            </tr>
            {% endblock %}
            {% block add_data %}
            <input class="btn btn-success mb-5" type="submit" value="Добавить данные">
            {%endblock%}  
            
        </form>
    </div>
    {% block export_table %}
    <a class="btn btn-primary mb-5" href="{% url 'table_loiha4.1' %}">Назад</a>
    {%endblock%}
    
    {% block view_data%}
    <input class="btn btn-danger mb-5" type="reset" value="Очистить данные">
    {%endblock%}
    
    {% block filter%}
    {% endblock %}



