{% extends 'mainapp/data_table/second_departament/kunliu.html' %}
{% block form %}
<div class="container">
    <form action="{% url 'form_kunliu'%}" method="post">
        {% csrf_token %}
        <div>{{ form.non_field_errors }}</div>
        <tr>
            <td>{{ form.date_of_forecast }}</td>
            <td>{{ form.overall }}</td>
            <td>{{ form.sanoat }}</td>
            <td>{{ form.meva_sabz }}</td>
            <td>{{ now.time_create }}</td>
        </tr>
        {% endblock %}
        {% block add_data %}
        <input class="btn btn-success mb-5" type="submit" value="Добавить данные">
        {%endblock%}
    </form>
</div>

{% block export_table %}
<a class="btn btn-primary mb-5" href="{% url 'table_kunliu' %}">Назад</a>
{%endblock%}

{% block view_data%}
<input class="btn btn-danger mb-5" type="reset" value="Очистить данные">
{%endblock%}

{% block filter%}
{%endblock%}
