{% extends 'mainapp/data_table/second_departament/first_table.html' %}
{% block form %}
<div class="container">
    <form action="{% url 'form_table1'%}" method="post">
        {% csrf_token %}
        <div>{{ form.non_field_errors }}</div>
        <tr>
            <td>{{ form.table_id }}</td>
            <td>{{ form.cell_name }}</td>
            <td>{{ form.region }}</td>
            <td>{{ form.date }}</td>
            <td>{{ form.total }}</td>
            <td>{{ form.total_total }}</td>
            <td>{{ form.total_prom }}</td>
            <td>{{ form.total_ton }}</td>
            <td>{{ form.total_sum }}</td>
            <td>{{ form.january_march_prom }}</td>
            <td>{{ form.january_march_ton }}</td>
            <td>{{ form.january_march_sum }}</td>
            <td>{{ form.january_prom }}</td>
            <td>{{ form.january_ton }}</td>
            <td>{{ form.january_sum }}</td>
            <td>{{ form.february_prom }}</td>
            <td>{{ form.february_ton }}</td>
            <td>{{ form.february_sum }}</td>
            <td>{{ form.march_prom }}</td>
            <td>{{ form.march_ton }}</td>
            <td>{{ form.march_sum }}</td>
            <td>{{ form.january_april_prom }}</td>
            <td>{{ form.january_april_ton }}</td>
            <td>{{ form.january_april_sum }}</td>
            <td>{{ form.january_may_prom }}</td>
            <td>{{ form.january_may_ton }}</td>
            <td>{{ form.january_may_sum }}</td>
            <td>{{ form.january_june_prom }}</td>
            <td>{{ form.january_june_ton }}</td>
            <td>{{ form.january_june_sum }}</td>
            <td>{{ form.january_july_prom }}</td>
            <td>{{ form.january_july_ton }}</td>
            <td>{{ form.january_july_sum }}</td>
            <td>{{ form.january_august_prom }}</td>
            <td>{{ form.january_august_ton }}</td>
            <td>{{ form.january_august_sum }}</td>
            <td>{{ form.january_september_prom }}</td>
            <td>{{ form.january_september_ton }}</td>
            <td>{{ form.january_september_sum }}</td>
            <td>{{ form.october_24_prom }}</td>
            <td>{{ form.october_24_ton }}</td>
            <td>{{ form.october_24_sum }}</td>
            <td>{{ form.october_prom }}</td>
            <td>{{ form.october_ton }}</td>
            <td>{{ form.october_sum }}</td>
            <td>{{ form.export }}</td>
            <td>{{ now.time_create }}</td>
        </tr>
        {% endblock %}
        {% block add_data %}
        <input class="btn btn-success mb-5" type="submit" value="Добавить данные">
        {%endblock%}
    </form>
</div>

{% block export_table %}
<a class="btn btn-primary mb-5" href="{% url 'table_first' %}">Назад</a>
{%endblock%}

{% block view_data%}
<input class="btn btn-danger mb-5" type="reset" value="Очистить данные">
{%endblock%}

{% block filter%}
{%endblock%}
