{% extends 'mainapp/departments/projects_department.html' %}
{% block table %}
<h2 class="mb-3">{{ request.user.district }}, {{ title }}</h2>
{% block filter %}
<div class="container mb-3">
    <div class="row">
        <div class="col-1"><a class="btn btn btn-primary w-100" href="{% url 'table_filter_kx' filter_slug='week' %}">неделя</a></div>
        <div class="col-1"><a class="btn btn btn-primary w-100" href="{% url 'table_filter_kx' filter_slug='month' %}">месяц</a></div>
        <div class="col-1"><a class="btn btn btn-primary w-100" href="{% url 'table_kx' %}">все</a></div>
    </div>
</div>
{% endblock %}
<div class="container overflow-auto">
        <table class="table table-bordered table-striped">
        <caption>{{ request.user.district }}, {{ title }}</caption>
<!--        <tr>-->
<!--            <th class="table-info" rowspan="2">Район</th>-->
<!--            <th class="table-info" rowspan="2">Утвержденные холдинговые компании количество</th>-->
<!--            <th class="table-info" rowspan="2">Предложения предпринимателей(ф.и.о)</th>-->
<!--            <th class="table-primary" colspan="2">Приоритетные цели</th>-->
<!--            <th class="table-primary" colspan="7">Заявленные результаты</th>-->
<!--            <th class="table-info table-info-time" rowspan="2">Time create</th>-->
<!--        </tr>-->
        <tr>
            <th class="table-info">ИНН отправ./получ.</th>
            <th class="table-info">ИНН</th>
            <th class="table-info">Наим. отправителя</th>
            <th class="table-info">Адрес отправителя</th>
            <th class="table-info">Наим. получателя</th>
            <th class="table-info">Адрес получателя</th>
            <th class="table-info">Инн лица отв. за финансовое урегулирование</th>
            <th class="table-info">лицо отв. за финансовое урегулирование</th>
            <th class="table-info">Адрес лица отв. за финансовое урегулирование</th>
            <th class="table-info">Валюта контракта</th>
            <th class="table-info">Фактурная стоимость</th>
            <th class="table-info">Код товара</th>
            <th class="table-info">Наим. товара</th>
            <th class="table-info">Вес. нетто</th>
            <th class="table-info">Тонна</th>
            <th class="table-info">Стат. стоимость</th>
            <th class="table-info">Номер и дата контракта</th>
            <th class="table-info">ИДН</th>
            <th class="table-info">Страна отправления/назначения</th>
            <th class="table-info">Дата выпуска</th>
            <th class="table-info table-info-time">Дата создания записи</th>
        </tr>
        <tr>
            {% block form %}
            {% endblock %}
        </tr>
            {% for data in page_obj %}
        <tr>
            <td>{{ data.inn_of_sender_or_recipient }}</td>
            <td>{{ data.inn }}</td>
            <td>{{ data.name_of_sender }}</td>
            <td>{{ data.address_of_sender }}</td>
            <td>{{ data.name_of_recipient }}</td>
            <td>{{ data.address_of_recipient }}</td>
            <td>{{ data.financial_responsible_inn }}</td>
            <td>{{ data.face_responsible_for_finance }}</td>
            <td>{{ data.address_of_face_responsible_for_finance }}</td>
            <td>{{ data.currency_of_contract }}</td>
            <td>{{ data.invoice_value }}</td>
            <td>{{ data.code_of_goods }}</td>
            <td>{{ data.name_of_goods }}</td>
            <td>{{ data.weight_netto }}</td>
            <td>{{ data.ton }}</td>
            <td>{{ data.stat_price }}</td>
            <td>{{ data.number_and_date_of_contract }}</td>
            <td>{{ data.idn }}</td>
            <td>{{ data.destination_country }}</td>
            <td>{{ data.date_of_issue }}</td>
            <td class="table-time">{{ data.time_create }}</td>
          </tr>
            {%endfor%}
    </table>
</div>
{% include 'mainapp/pagination.html' %}
{% endblock %}

{% block export_table %}
<a class="btn btn-primary mb-5" href="#">Экспорт таблицы</a>
{% endblock %}


{% block add_data %}
<a class="btn btn-success mb-5" href="{% url 'form_kx' %}">Добавить данные</a>
{%endblock%}