{% extends 'mainapp/departments/projects_department.html' %}
{% block table %}
<h2 class="mb-3">
    {% if request.user.district != None %}
        {{ request.user.district }},
    {% endif %}
    {{ title }}
</h2>
{% block filter %}
<div class="container mb-3">
    <div class="row">
        <div class="col-1"><a class="btn btn btn-primary w-100"
                              href="{% url 'table_filter_kunliu' filter_slug='week' %}">неделя</a></div>
        <div class="col-1"><a class="btn btn btn-primary w-100"
                              href="{% url 'table_filter_kunliu' filter_slug='month' %}">месяц</a></div>
        <div class="col-1"><a class="btn btn btn-primary w-100" href="{% url 'table_kunliu' %}">все</a></div>
    </div>
</div>
{% endblock %}
<div class="container overflow-auto">
    <table class="table table-bordered table-striped">
        <caption>
            {% if request.user.district != None %}
                {{ request.user.district }},
            {% endif %}
            {{ title }}
        </caption>
        <tr>
            {% for group in request.user.groups.all %}
                {% if group.id == 3 %}
                    <th class="table-info">HUDUDLAR</th>
                {% endif %}
            {% endfor %}
            <th class="table-info">Дата прогноза</th>
            <th class="table-info">Всего</th>
            <th class="table-info">саноат маҳсулотлари</th>
            <th class="table-info">мева-сабзавотлар</th>
             <th class="table-info table-info-time">Дата создания записи</th>
        </tr>
        <tr>
            {% block form %}
            {% endblock %}
        </tr>
        {% for data in page_obj %}
        <tr>
            {% for group in request.user.groups.all %}
                {% if group.id == 3 %}
                   <td>{{data.district}}</td>
                {% endif %}
            {% endfor %}
            <td>{{ data.date_of_forecast }}</td>
            <td>{{ data.overall }}</td>
            <td>{{ data.sanoat }}</td>
            <td>{{ data.meva_sabz }}</td>
            <td class="table-time">{{ data.time_create }}</td>
        </tr>
        {%endfor%}
    </table>
</div>
{% include 'mainapp/pagination.html' %}
{% endblock %}

{% block export_table %}
<a class="btn btn-primary mb-5" href="#">Экспорт таблицы</a>
{% endblock %}


{% block add_data %}
    {% if not request.user.groups.all and not request.user.is_superuser %}
        <a class="btn btn-success mb-5" href="{% url 'form_kunliu' %}">Добавить данные</a>
    {% endif %}
{%endblock%}