{% extends 'mainapp/departments/projects_department.html' %}
{% block table %}
<h2 class="mb-3">
    {% include 'mainapp/data_table/components/table_title.html' %}
</h2>
{% block filter %}
<div class="container mb-3">
    <div class="row">
        <div class="col-1"><a class="btn btn btn-primary w-100" href="{% url 'table_filter_table_jami' filter_slug='week' %}">неделя</a></div>
        <div class="col-1"><a class="btn btn btn-primary w-100" href="{% url 'table_filter_table_jami' filter_slug='month' %}">месяц</a></div>
        <div class="col-1"><a class="btn btn btn-primary w-100" href="{% url 'table_jami' %}">все</a></div>
    </div>
</div>
{% endblock %}
<div class="container overflow-auto">
        <table class="table table-bordered table-striped">
        <caption>
            {% include 'mainapp/data_table/components/table_title.html' %}
        </caption>
        <tr>
            {% for group in request.user.groups.all %}
            {% if group.id == 3 %}
            <th rowspan="3" class="table-primary">HUDUDLAR</th>
            {% endif %}
            {% endfor %}
            <th class="table-primary" colspan="2" rowspan="2">Лойиҳа сони</th>
            <th class="table-primary" colspan="2" rowspan="2">Умумий қиймати млн.сўм</th>
            <th class="table-primary" colspan="8">шундан</th>
            <th class="table-primary" colspan="2" rowspan="2">Янги иш ўринлари сони</th>
            <th class="table-primary" colspan="8">Иқтисодий самарадорлик</th>
            <td class="table-primary table-info-time" rowspan="3">Дата создания записи</td>
        </tr>
        <tr>
            <th class="table-info" colspan="2"> ўз маблағлари млн.сўм</th>
            <th class="table-info" colspan="2"> банк кредитлари млн.сўм</th>
            <th class="table-info" colspan="2"> хорижий кредитлар минг.долл</th>
            <th class="table-info" colspan="2"> хорижий инвестициялар минг.долл </th>
            <th class="table-info" colspan="2">Ишлаб чиқариш қуввати млн.сўм </th>
            <th class="table-info" colspan="2">Импорт урнини босиш минг.долл </th>
            <th class="table-info" colspan="2">Экспорт ҳажми минг.долл </th>
            <th class="table-info" colspan="2">Бюджетга қўшимча тушум млн.сўм </th>
        </tr>
        <tr>
            <th class="table-info">Режа</th>
            <th class="table-info">Амалда</th>
            <th class="table-info">Режа</th>
            <th class="table-info">Амалда</th>
            <th class="table-info">Режа</th>
            <th class="table-info">Амалда</th>
            <th class="table-info">Режа</th>
            <th class="table-info">Амалда</th>
            <th class="table-info">Режа</th>
            <th class="table-info">Амалда</th>
            <th class="table-info">Режа</th>
            <th class="table-info">Амалда</th>
            <th class="table-info">Режа</th>
            <th class="table-info">Амалда</th>
            <th class="table-info">Режа</th>
            <th class="table-info">Амалда</th>
            <th class="table-info">Режа</th>
            <th class="table-info">Амалда</th>
            <th class="table-info">Режа</th>
            <th class="table-info">Амалда</th>
            <th class="table-info">Режа</th>
            <th class="table-info">Амалда</th>
        </tr>
        <tr>
            {% block form %}
            {% endblock %}
        </tr>
            {% for data in page_obj %}
        <tr>
            {% include 'mainapp/data_table/components/district_field.html' %}
            <td>{{ data.loiha_soni_reja }}</td>
            <td>{{ data.loiha_soni_amalda }}</td>
            <td>{{ data.umumiy_kiymati_reja }}</td>
            <td>{{ data.umumiy_kiymati_amalda }}</td>
            <td>{{ data.uz_mablag_reja }}</td>
            <td>{{ data.uz_mablag_amalda }}</td>
            <td>{{ data.bank_kredit_reja }}</td>
            <td>{{ data.bank_kredit_amalda }}</td>
            <td>{{ data.xorijiy_kredit_reja }}</td>
            <td>{{ data.xorijiy_kredit_amalda }}</td>
            <td>{{ data.xorijiy_invest_reja }}</td>
            <td>{{ data.xorijiy_invest_amalda }}</td>

            <td>{{ data.yangi_ish_reja }}</td>
            <td>{{ data.yangi_ish_amalda }}</td>
            <td>{{ data.ishlab_chiqarish_reja }}</td>
            <td>{{ data.ishlab_chiqarish_amalda }}</td>
            <td>{{ data.import_reja }}</td>
            <td>{{ data.import_amalda }}</td>
            <td>{{ data.export_reja }}</td>
            <td>{{ data.export_amalda }}</td>
            <td>{{ data.budget_reja }}</td>
            <td>{{ data.budget_amalda }}</td>
            <td class="table-time">{{ data.time_create }}</td>
          </tr>
            {%endfor%}
    </table>
</div>
{% include 'mainapp/pagination.html' %}
{% endblock %}

{% block export_table %}
<a class="btn btn-primary mb-5" href="#">Экспорт таблицы</a>
{% endblock %}


{% block add_data %}
   {% if not request.user.groups.all and not request.user.is_superuser %}
<a class="btn btn-success mb-5" href="{% url 'form_jami' %}">Добавить данные</a>
   {% endif %}
{%endblock%}